.gpt3__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 6rem 5rem;
}

.gpt3__brand div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
