.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.gpt3__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
}

.gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}

.gpt3__navbar-links__container {
    display: flex;
}

.gpt3__navbar-links__container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu__container p {
    cursor: pointer;
    color: #fff;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin: 0 1rem;
}

.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
    width: 152px;
    height: 58px;
    line-height: 25px;
    background: #FF4820;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.gpt3__navbar-menu {
    position: relative;
    display: none;
    margin-left: 1rem;
}

.gpt3__navbar-menu svg {
    cursor: pointer;
}

.gpt3__navbar-menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-footer);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    color: #fff;
    position: absolute;
    top: 40px;
    left: -180px;
    text-align: left;
    margin-top: 1rem;
    min-width: 210px;
    padding: 2rem;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-family);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.gpt3__navbar-menu_container p {
    margin: 1rem 0;
}

.gpt3__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1090px) {
    .gpt3__navbar-links__container p,
.gpt3__navbar-sign p {
    cursor: pointer;
    color: #fff;
    text-transform: capitalize;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin: 0 1rem;
}
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar-links__container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem 2rem;
    }

    .gpt3__navbar-sign {
        display: none;
    }

    .gpt3__navbar-menu_container {
        top: 20px;
    }

    .gpt3__navbar-menu_container-links-sign {
        display: block;
    }
}